<!-- Bootstrap --> 
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

<!-- Header Item -->
<div class="container-fluid" style="background-color:#245276;">
    <!-- White Header -->
    <h1 style="text-align: center; color: white;">Registrar's Office: Class Details</h1>
</div>

<!-- Class Details Area -->
<div class="container-fluid">
    <h2>Class Details (class id {{ course.class_id}}) </h2> 
    <b>Course Id:</b> {{ course.course_id }} <br/>
    <b>Days:</b> {{ course.days }} <br/>
    <b>Start Time:</b> {{ course.start_time }} <br/>
    <b>End Time:</b> {{ course.end_time }} <br/>
    <b>Building:</b> {{ course.building }} <br/>
    <b>Room:</b> {{ course.room }} <br/>
</div>

<hr/>

<!-- Course Details Area -->
<div class="container-fluid">
    <h2>Course Details (course id {{ course.course_id}}) </h2> 
    {% for dept_num in course.dept_num %}
    <b>Dept and Number:</b> {{ dept_num }} <br/>
    {% endfor %}
    <b>Area:</b> {{ course.area }} <br/>
    <b>Title:</b> {{ course.title }} <br/>
    <b>Description: </b> {{ course.description }} <br/>
    <b>Prerequisites:</b> {{ course.prereqs }} <br/>
    {%for prof in course.profs %}
    <b>Professor:</b> {{ prof }} <br/>
    {% endfor %}
</div>
<br>
<br>


